.progress-bar {
	width: 100%;
	background-color: $bar-bg;
	height: 25px;
	position: relative;
	overflow: hidden;
	box-shadow: inset 0 2px 6px rgba($bg-dark, 0.35);

	> .bar {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		background-color: $bar-color-default;
		box-shadow: inset 0 2px 6px rgba($bg-dark, 0.35);
		transform: translateX(-100%);
		transition: transform .55s ease-in-out;
	}

	&.gradient {
		@include make-gradient($bar-color-default);
	}

	&.striped {
		@include make-striped($bar-color-default);
	}

	&.rounded {
		border-radius: 6px;
	}

	&.success {
		> .bar {
			background-color: $bar-color-success;
		}

		&.gradient {
			@include make-gradient($bar-color-success);
		}
	
		&.striped {
			@include make-striped($bar-color-success);
		}
	}

	&.alert {
		> .bar {
			background-color: $bar-color-alert;
		}
		
		&.gradient {
			@include make-gradient($bar-color-alert);
		}
	
		&.striped {
			@include make-striped($bar-color-alert);
		}
	}

	&.error {
		> .bar {
			background-color: $bar-color-error;
		}

		&.gradient {
			@include make-gradient($bar-color-error);
		}
	
		&.striped {
			@include make-striped($bar-color-error);
		}
	}
}

@keyframes striped_animation {
	100% {
		background-position: 100% 100%;
	}
}